# Environments
venv/
.venv/
env/

# Python Bytecode & Caches
__pycache__/
*.pyc
.pytest_cache/
*.pyo
*.pyd

# Operating System Files
.DS_Store
Thumbs.db

# Environment Variables & Secrets
.env

# SQLite Database & Local Storage
data/*.db
data/chroma_db/

# IDE files
.vscode/
.idea/
